@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
   font-family: 'poppins', sans-serif;
   font-size: 16px;
   color: #77787e;
   -webkit-font-smoothing: antialiased;
   line-height: 1.647em;
   background-color: #f8f5f2;
}

.section-header{
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #303136;
    text-transform: uppercase;
    line-height: 1.1;
    
 }

 .section-sub-header{
    color: #77787e;
    text-align: center;
    margin-bottom: 60px;
 }

/* Header */
.header-info-color{
   color: #00cb8b;
   font-size: 12px;
   font-weight: 700;
   text-transform: uppercase;
}

header{
   background-color: #000000;

}

.header-info{
   font-size: 12px;
   font-weight: 700;
   text-transform: uppercase;
   color: #fff;
}

.header-greet{
   font-size: 12px;
   font-weight: 700;
   text-transform: uppercase;
   color: #77787e;
}

/*Header End*/

/* Navbar Start */
.main-nav{
   background-image: url("../Images/services-header.jpg");
}

nav ul li {
   
   --bs-nav-link-color: white !important;
   text-transform: uppercase;
   font-size: 12px;
   font-weight: 700;
   padding-top: 30px;
   padding-bottom: 30px;
   letter-spacing: 1px;
}

.nav-para{
    margin-bottom: 30px;
    line-height: 1.647em;
    color: white;
    width: 70%;
}



.lead-para{
    font-size: 36px;
    color: #fff;
    font-weight: 900
  }

.hero-msg{
   padding-top: 10%;
   padding-bottom: 10%;
}

.primary-btn{
    display: flex;
   
    padding: 16px 27px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 1px;
    border: none;
    background-color: #00cb8b;
     text-transform: uppercase;
     color: #FFF;
 font-family: Poppins;
 font-size: 12px;
 font-style: normal;
 font-weight: 600;
 line-height: normal;
 text-transform: uppercase;
}



@media  (max-width: 768px) {
   .nav-para{
      width: 100%;
   }

   .lead-para{
      width: 100%;
   }

   .hero-msg{
      padding-top: 10%;
      padding-bottom: 10%;
   }
 .navbar-toggler-icon{
   margin-left: 80px;
 }

 nav ul li{
   padding-bottom: 0px;
 }
   
}

.header-text{
    color: #FFF;
    width: 70%;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
 
  }

 

/* Navbar End */

/* Page Breadcrumb */
.page-breadcrumb{
    background-color: black;
    padding-top: 10px;

}

.breadcrumb a, .breadcrumb li{
 font-family: Poppins;
font-size: 12px;

font-weight: 600;

letter-spacing: 0.96px;
text-transform: uppercase;
color: #fff;

}

.breadcrumb .active{
    color: #777;
}
 

/* Page Breadcrumb End */

.fee-structure{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #f8f5f2;
    
}

.card{
    border: 2px solid #e8e3df;
    padding: 30px;
    background-color: #fff;
    
}

.card h1{
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #303136;
}

.card span{
margin-bottom: 30px;
font: 16px;
color: #77787e;
line-height: 1.647em;
}

.card h3{
    color: #00cb8b;
    font-size: 28px;
    font-weight: 800;
    letter-spacing: -1px
}

.listnone{
    padding-left: 1rem  !important;
}

.listnone li{
    list-style: none;
    text-align: left;
    font-size: 16px;
    color: #77787e;
    line-height: 1.647em;
    border-bottom: 2px solid #e8e3df;
    padding-bottom: 15px;
    padding-top: 14px;
    
}

.call-to-action-text{
    font-size: 21px;
    letter-spacing: 2px;
    font-weight: 600;
    line-height: 2.4;
    text-transform: uppercase;
    color: #fff;
 }

 .secondary-btn{
    font-size: 12px;
    padding: 16px 44px 16px 34px;
    background-color: #ffeb8c;
    color: #2e2d28;
    font-weight: 900;
    margin-bottom: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
 }

 .call-to-action{
    background-color: #00cb8b;
    padding: 20px;
    margin-top: 20px;
 }

 .footer-section{
    padding-top: 80px;
    padding-bottom: 80px;
    color:#77787e;
    background-color: #29292c;
    text-align: center;
 }
 
 @media screen and (max-width: 600px){
 
   
 }
 
 .footer-head{
    color: white;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 30px;
 
 }
 
 .footer-link p a{
      color: white;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 1px;
      margin-bottom: 30px;
      text-decoration: none;
 }
 
 .footer-link p a:hover{
    color: #00cb8b;
 }
 
 .footer-text{
    color: #77787e;
 
 }
 
 .footer-header{
    color: white;
    font-size: 16px;
 }
 
 .input-form{
    border-radius: 2px;
    border: 1px solid #e7e1da;
    width: 100%;    
 }
 
 .footer-btn{
  background-color: #444;
  color: white;
  padding: 11px;
  border: none;
 }
 
 .icon-footer{
    background-color: #38383c;
    padding: 12px 14px;
    border-radius: 2px;
    color: white;
    display: inline-block;
    line-height: 0;
    margin-bottom: 5px;
    margin-right: 10px;
    cursor: pointer;
 }